#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}