#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FD676A;
  background-image: none;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 {
  position: absolute;
  width: 350px;
  height: 566px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 > .clipping, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 > .paddingLayer {
  height: 566px;
  width: 350px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_6 > svg {
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_6 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_6 > img, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_6 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 > .clipping, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EFEFEF;
  background-image: none;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 {
  position: absolute;
  width: 317px;
  height: 450px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 > .clipping, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 > .paddingLayer {
  height: 450px;
  width: 317px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 {
  position: absolute;
  width: 103px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 > .clipping, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_1 marker {
  fill: #A9A9A9;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 306px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_1 {
  width: 306px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_2 marker {
  fill: #A9A9A9;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 306px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_2 {
  width: 306px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_3 marker {
  fill: #A9A9A9;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 306px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_3 {
  width: 306px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_4 marker {
  fill: #A9A9A9;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 306px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Line_4 {
  width: 306px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #A9A9A9;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_11 > svg {
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_11 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_11 > img, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_11 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_12 > svg {
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_12 > img, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_12 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_13 > svg {
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_13 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_13 > img, #s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 #s-Image_13 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03e85e4f-a8de-4928-b3dc-ce1a1d1be646 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}