#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1449bdcb-b951-4ac8-94ef-ecd88a19bd1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}