#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Kunstler Script',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 {
  position: absolute;
  width: 111px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 10.5pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span#rtr-s-Paragraph_2_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span#rtr-s-Paragraph_2_3 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 span#rtr-s-Paragraph_2_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 {
  position: absolute;
  width: 114px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 10.5pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span#rtr-s-Paragraph_3_3 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 span#rtr-s-Paragraph_3_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_3 {
  position: absolute;
  width: 122px;
  height: 83px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_3 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_3 > svg {
  height: 83px;
  width: 122px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_6 > svg {
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_6 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_6 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_6 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-statusBar {
  position: absolute;
  width: 357px;
  height: 20px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_43 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_44 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_45 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_46 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_47 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_50 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_50 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_50 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_51 > svg {
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_51 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_51 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_51 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_52 > svg {
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_52 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_52 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_52 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_4 {
  position: absolute;
  width: 124px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_4 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_4 > svg {
  height: 79px;
  width: 124px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 {
  position: absolute;
  width: 120px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 20px;
  font-size: 10.5pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span#rtr-s-Paragraph_4_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span#rtr-s-Paragraph_4_3 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 span#rtr-s-Paragraph_4_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 {
  position: absolute;
  width: 92px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 10.5pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span#rtr-s-Paragraph_5_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span#rtr-s-Paragraph_5_3 {
  color: #FF9900;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 span#rtr-s-Paragraph_5_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 {
  position: absolute;
  width: 75px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 10.5pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #6ACA25;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span#rtr-s-Paragraph_6_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span#rtr-s-Paragraph_6_3 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 span#rtr-s-Paragraph_6_4 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_7 {
  position: absolute;
  width: 122px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_7 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_7 > svg {
  height: 79px;
  width: 122px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFE9F;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 {
  position: absolute;
  width: 307px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 307px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFE9F;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 {
  position: absolute;
  width: 307px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 > .paddingLayer {
  height: 20px;
  width: 307px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 {
  position: absolute;
  width: 121px;
  height: 78px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 > .paddingLayer {
  height: 78px;
  width: 121px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 span#rtr-s-Text_2_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 13.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 span#rtr-s-Text_3_2 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_1 {
  position: absolute;
  width: 122px;
  height: 83px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_1 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_1 > svg {
  height: 83px;
  width: 122px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_2 {
  position: absolute;
  width: 123px;
  height: 81px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_2 > img, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_2 > svg {
  height: 81px;
  width: 123px;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 {
  position: absolute;
  width: 123px;
  height: 88px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.5pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 > .clipping, #s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 > .paddingLayer {
  height: 88px;
  width: 123px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.5pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}