#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1aa08108-a9ed-47db-9f86-35c35bf57bd3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}