#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1d849af7-8d09-4bfe-a15e-182dd86a63de > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}