#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-30f51599-9da6-480c-ba89-99a5d5f64db5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}