#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_8 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_8 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_8 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_8 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #666798;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 {
  position: absolute;
  width: 343px;
  height: 533px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 > .paddingLayer {
  height: 533px;
  width: 343px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 {
  position: absolute;
  width: 317px;
  height: 445px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 > .paddingLayer {
  height: 445px;
  width: 317px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 span#rtr-s-Text_1_0 {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 {
  position: absolute;
  width: 168px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 {
  position: absolute;
  width: 31px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 span {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FC3768;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_3 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_3 {
  position: absolute;
  width: 19px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_3 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_3 > svg {
  height: 16px;
  width: 19px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_41 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_41 {
  position: absolute;
  width: 30px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_41 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_41 > svg {
  height: 26px;
  width: 28px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACCCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACCCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACCCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACCCB;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_12 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_12 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_12 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_32 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_32 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_32 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_32 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_4 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_4 {
  position: absolute;
  width: 19px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_4 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_4 > svg {
  height: 16px;
  width: 19px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_5 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_5 {
  position: absolute;
  width: 19px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_5 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_5 > svg {
  height: 16px;
  width: 19px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_6 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_6 {
  position: absolute;
  width: 19px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_6 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_6 > svg {
  height: 16px;
  width: 19px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_7 > svg {
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_7 {
  position: absolute;
  width: 19px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_7 > img, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_7 > svg {
  height: 16px;
  width: 19px;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 > .clipping, #s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}