#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6b0fcfb4-0eb9-4f00-8e3f-df19fd27fa6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}