#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6cad9e92-43cd-4591-8ef6-38a8e77c3210 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}