#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_5 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_5 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_6 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Line_6 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-80df44a8-ca47-4e09-a669-08d416539dc9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}