#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-856a2c41-b1a4-458b-b388-ef7bd6f3a4bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}