#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ac4cbd90-de21-4c88-8d9f-1c7f9d61b5d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}