#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}