#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #679868;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 {
  position: absolute;
  width: 350px;
  height: 566px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 > .paddingLayer {
  height: 566px;
  width: 350px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_6 > svg {
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_6 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_6 > img, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_6 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 {
  position: absolute;
  width: 275px;
  height: 24px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Input_1 > .paddingLayer {
  height: 22px;
  width: 258px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 1px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 {
  position: absolute;
  width: 317px;
  height: 450px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 > .paddingLayer {
  height: 450px;
  width: 317px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 {
  position: absolute;
  width: 107px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_41 > svg {
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_41 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_41 > img, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_41 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_39 > svg {
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_39 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_39 > img, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_39 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_12 > svg {
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_12 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_12 > img, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Image_12 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 {
  position: absolute;
  width: 37px;
  height: 27px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 > .clipping, #s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 > .paddingLayer {
  height: 27px;
  width: 37px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae82ce64-f7bb-423f-9dc2-15ac9e6f4613 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}