#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-bfe50945-8569-4f02-80e7-120c403b502c #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bfe50945-8569-4f02-80e7-120c403b502c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}