#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}