#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #6ACCCB;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 {
  position: absolute;
  width: 293px;
  height: 291px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 > .paddingLayer {
  height: 291px;
  width: 293px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 {
  position: absolute;
  width: 248px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 > .paddingLayer {
  height: 26px;
  width: 248px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 {
  position: absolute;
  width: 248px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 > .paddingLayer {
  height: 26px;
  width: 248px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 {
  position: absolute;
  width: 248px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 > .paddingLayer {
  height: 26px;
  width: 248px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 {
  position: absolute;
  width: 248px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 > .clipping, #s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 > .paddingLayer {
  height: 26px;
  width: 248px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 105px;
  height: 26px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 105px;
  height: 26px;
  position: absolute;
  overflow: hidden;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 105px;
  height: 26px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 105px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #s-Ellipse_1 {
  width: 105px;
  height: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c1cbcb43-8ef6-4291-b35a-92a9f36720a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}