#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Image_41 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Image_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e9e7b8d4-adc7-4627-a09a-8a6813488f6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}