#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fa436ce8-0519-404b-b69b-d9fea123c9a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}