#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_2 {
  position: absolute;
  width: 150px;
  height: 91px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_2 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_2 > svg {
  height: 91px;
  width: 150px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 {
  position: absolute;
  width: 166px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 span#rtr-t-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Kunstler Script',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 span#rtr-t-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 {
  position: absolute;
  width: 242px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 span#rtr-t-Paragraph_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FD999A;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 {
  position: absolute;
  width: 343px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 > .paddingLayer {
  height: 26px;
  width: 343px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 span#rtr-t-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 span#rtr-t-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_3 {
  position: absolute;
  width: 103px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_3 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_3 > svg {
  height: 79px;
  width: 103px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_1 {
  position: absolute;
  width: 111px;
  height: 79px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_1 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_1 > svg {
  height: 79px;
  width: 111px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_4 {
  position: absolute;
  width: 109px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_4 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_4 > svg {
  height: 68px;
  width: 109px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_5 {
  position: absolute;
  width: 91px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_5 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_5 > svg {
  height: 65px;
  width: 91px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_6 {
  position: absolute;
  width: 113px;
  height: 68px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_6 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_6 > svg {
  height: 68px;
  width: 113px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_7 {
  position: absolute;
  width: 95px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_7 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_7 > svg {
  height: 61px;
  width: 95px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 span#rtr-t-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 span#rtr-t-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 span#rtr-t-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 span#rtr-t-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 span#rtr-t-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Berlin Sans FB',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 span#rtr-t-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Berlin Sans FB',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 {
  position: absolute;
  width: 103px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 > .paddingLayer {
  height: 60px;
  width: 103px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 span#rtr-t-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-statusBar {
  position: absolute;
  width: 357px;
  height: 20px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 span#rtr-t-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_43 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_43 span#rtr-t-Ellipse_43_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_44 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_44 span#rtr-t-Ellipse_44_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_45 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_45 span#rtr-t-Ellipse_45_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_46 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_46 span#rtr-t-Ellipse_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_47 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #shapewrapper-t-Ellipse_47 span#rtr-t-Ellipse_47_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 > .clipping, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 span#rtr-t-Label_62_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_50 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_50 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_50 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_51 > svg {
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_51 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_51 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_51 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_52 > svg {
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_52 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_52 > img, #t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_52 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}