#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 #t-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#t-18a4ce9c-0e41-457a-89a4-e68aee9192a0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}