#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 #t-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#t-21d48bb1-58ea-461c-9c84-8c1159da67a9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}