#t-f39803f7-df02-4169-93eb-7547fb8c961a > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 72.0pt;
  font-family: 'Kunstler Script',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 span#rtr-t-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Kunstler Script',Arial;
  font-size: 72.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-statusBar {
  position: absolute;
  width: 357px;
  height: 20px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 span#rtr-t-Label_40_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_43 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_43 span#rtr-t-Ellipse_43_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_44 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_44 span#rtr-t-Ellipse_44_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_45 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_45 span#rtr-t-Ellipse_45_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_46 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_46 span#rtr-t-Ellipse_46_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_47 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #shapewrapper-t-Ellipse_47 span#rtr-t-Ellipse_47_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 > .clipping, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 span#rtr-t-Label_62_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_50 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_50 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_50 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_51 > svg {
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_51 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_51 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_51 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_52 > svg {
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_52 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_52 > img, #t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_52 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}