#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_43 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_44 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_45 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_46 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Ellipse_47 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}